name: Verify dist
on:
  push:
    branches:
      - main

jobs:
  verify-dist:
    name: Verify that 'dist' has been regenerated
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          cache: yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Generate dist
        run: yarn build

      - name: Compare dist with repo
        run: |
          git diff --exit-code dist
